<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @status.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @status.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @status.answer %>
</p>

<p>
  <strong>Created:</strong>
  <%= @status.created %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
